{% extends 'generator/base.html' %}
{% block content %}
<div class="rule">
    <h1>Генератор паролей</h1>
    <h2>Надежный пароль без дополнительных усилий</h2>
    <p>Чтобы сгенерировать пароль длиной 12 символов онлайн, задайте параметры и нажмите <b>"Сгенерировать".</b></p>
    <p>Генератор паролей из 12 символов поможет создать надежный пароль для любых сайтов — почты, Госуслуг, Сбербанка, ВК, Instagram и других.</p>
    <p>Создать 12-значный пароль с буквами разных регистров (AaBbCc), цифрами(12345) и спец. символами(_,!#)?).</p>
    <p>Моментальная проверка надежности созданного пароля из 12 символов.</p>
    <a href="{% url 'home' %}"><input class="button" type="submit" value="Перейти на генератор паролей"></a>
</div>
{% endblock%}