body{
    background: lightyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    width: 400px;
    margin: 0 auto;
}
h1, h2{
    text-align: center;
}
h2{
    text-align: center;
}
.container form, .container h2{
    background: greenyellow;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 6px;
}
.button{
    background: greenyellow;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}
.input{
    text-align: center;
}